{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}

{% block content %}
<h1>Peedy-Pee Admin Page</h1>
<br>
<br>
<h2>Edit People</h2>
<hr>
<div id='person_div' class='clearfix'>
<select id=people_list size='10'></select>
<form id="person_attributes" action='/adminUpdate' method="POST">
<label>Username: <input id="person_username" type="text" name="person_username"></label><br>
<label>First Name: <input id="person_firstname" type="text" name="person_firstname"></label><br>
<label>Last Name: <input id="person_lastname" type="text" name="person_lastname"></label><br>
<label>Group: <input id="person_group" type="text" name="person_group"></label><br>
<label>Manager: <input id="person_manager" type="text" name="person_manager"></label><br>
<label>isManager: <input type="checkbox" name="person_ismanager"></label><br>
<button id="person_save" class="right">Save Person</button><br>
<button id="view_person-pdp" class="right">View PDP</button>
</form>
</div>
<br><br>
<h2>Edit Group</h2>
<hr>
<div id="group_div">
<select id="group_list" size="10"></select>
<form id='group_attributes' action='/adminUpdate' method='POST'>
<label>Group Name: <input id="group_name" type="text" name="group_name"></label><br>
<button id='save_group' class='right'>Save Group</button>
</form>
</div>

{% endblock %}
