{% extends 'layout.html' %}

{% block greeting %}
{{ user }}
{% endblock %}

{% block sidebar %}
<a href='/'>Home</a>
{% endblock %}

{% block content %}
<h2>Changelog</h2>
<hr>
<b>Initial Release: 0.1</b>
<ul>
<li>Added admin functions</li>
<li>Completed group PDP editing and cycle progression</li>
<li>Updated the style sheets to company colours etc</li>
<li>Auto populate person database from LDAP server</li>
</ul>

<b>Notes: </b>
<ul>
<li>Tested on IceWeasel-24.4 and Opera Next-22.0</li>
</ul>

{% endblock %}
