{% extends 'layout.html' %}

{% block greeting %}
{{ user }}
{% endblock %}

{% block sidebar %}
<a href='/'>Home</a>
{% endblock %}

{% block content %}
<h2>Changelog</h2>
<hr>
<b>Initial Release: 0.1-pre.alpha</b>
<ul>
<li>Added admin functions</li>
<li>Completed group PDP editing and cycle progression</li>
<li>Updated the style sheets to company colours etc</li>
<li>Auto populate person database from LDAP server</li>
<li>Added personal pdp's to managers group view</li>
<li>Migrated to session handling</li>
<li>Changed the error handling and display interface</li>
<li>Implemented personal PDP data input and display</li>
<li>Changed text boxes to drop down lists where appropriate</li>
<li>Fixed Null errors when returning DB requests</li>
<li>Replaced training/groupname/manager id's with text</li>
<li>Fixed group goals display in personal pdp page</li>
<li>Fixed multi-select of goal owners for group goals</li>
<li>Added cycle explainations</li>
<li>Implemented group goal population on personal goal initialisation</li>
<li>Improved security for admin and managers pages</li>
<li>Fixed group PDP hand over algarythm</li>
</ul>
<ul>
<li>Ready for alpha testing</li>
</ul>
<br>
<b>Todo: </b>
<ul>
<li>Proper progression though the different cycles</li>
<li>Write a help file and make more user friendly</li>
<li>Write various blurbs for different areas</li>
</ul>
<br>
<b>Notes: </b>
<ul>
<li>Tested on IceWeasel-24.4 and Opera Next-22.0</li>
<li>Not all features will work when using Internet Explorer: the latest version may give you more success</li>
</ul>
<br>
<b>Bugs: </b>
<br>
In the unlikely event that you come across a bug please send an 
<a href='mailto:cameron.rodda@synchrotron.org.au?Subject=[Bug%20Report]%20Peedy-Pee'>email</a>
<br>
Please specify the page url the error occured on and copy any error messages that may be displayed
<br>
<ul>
<li>Theres an issue with the group goal assignment - assigning ALL rather than person name</li>
<li>If you don't acknowledge a dialog box any changes 'saved' will not make it to the database</li>
</ul>

{% endblock %}
