{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}


{% block content %}
<div class='error'>
{{ err }}
</div>

<h2>Group PDP Admin</h2>
<form action='/grouppdp_initialise' method='POST'>
<fieldset class='new-goals'>
<legend><b>Initialise New Goals</b></legend>
<label>Start Year:  <input type="text" name='init_goals' size='10' title='The year at the start of the pdp cycle'></label>
<input type='hidden' name='group_name' value='{{ group_url }}'>
<input type='submit' value='Create'>
</fieldset>
</form>

<form action='grouppdp_changeyear' method='POST'>
<fieldset class='new-goals'>
<legend><b>Select Year Goals</b></legend>
<label>Year:  <input type="text" name='year_goals' size='10' title='The year at the start of the pdp cycle'></label>
<input type='hidden' name='group_name' value='{{ group_url }}'>
<input type='submit' value='Select'>
</fieldset><p>
</form>

<br><br>
<div class='clearfix'></div>
<h1>Group PDP for {{ groupName }}</h1>
<h2>Group Manager: {{ manager }}</h2>
<hr>

<b>Group goals, place a blurb here </b><br><br>
<from action="/grouppdp/{{groupUrl}}" method='POST'>
<table class="grouptable">
    <tr>
        <th class="th_odd"> Group Goal </th>
        <th class="th_even"> Description </th>
        <th class="th_odd"> Owners </th>
        <th class="th_even"> Deadline </th>
        <th class="th_odd"> Budget </th>
        <th class="th_even"> Training? </th>
    </tr>
    <tr>
{% for goal in group_goals %}
        <td><input type='text' name='group_goal' size='30' value='goal name'></td>
        <td><textarea name='group_description' rows='4' cols='40'>goal description</textarea></td>
        <td><input type='text' name='group_owners' size='10' value='goal owners'></td>
        <td><input type='text' name='group_deadline' size='10' value=''></td>
        <td><input type='number' name='group_budget' size='10' value=''></td>
        <td><label><input type='radio' name='group_training' value='true' checked='...'>Yes</label>
            <label><input type='radio' name='group_training' value='false' checked='...'>No</label>
            <input type='text' name='course_other'></td>
{% endfor %}
    </tr>
</table>
<br><br>
<input type='submit' value="Add Row">
<input type='submit' value="Save Data">
</form>
<br>
<br>
<h2> Sign-off</h2>
<label>Sign-off<input type=checkbox name="manager-sign"></label>
<label>Comments<textarea rows='4' cols='20'></textarea></label><br><br>
<input type='submit' value="Apply New Goals">
{% endblock %}
