{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}


{% block content %}
<div class='error'>
{{ err }}
</div>

<h2>Group PDP Admin</h2>
<form action='/grouppdp_initialise' method='POST'>
<fieldset class='new-goals'>
<legend><b>Initialise New Goals</b></legend>
<label>Start Year:  <input type="text" name='init_goals' size='10' title='The year at the start of the pdp cycle'></label>
<input type='hidden' name='group_name' value='{{ group_url }}'>
<input type='submit' value='Create'>
</fieldset>
</form>

<form action='/grouppdp_changeyear' method='POST'>
<fieldset class='new-goals'>
<legend><b>Select Year Goals</b></legend>
<label>Year:  <input type="text" name='year_goals' size='10' title='The year at the start of the pdp cycle'></label>
<input type='hidden' name='group_name' value='{{ group_url }}'>
<input type='submit' value='Select'>
</fieldset><p>
</form>

<br><br>
<div class='clearfix'></div>
<h1>Group PDP for {{ groupName }}</h1>
<b>Group Manager: {{ manager }}</b>
<br><br>
<b>Current Cycle: {{ cycle }}</b>
<br><br>
<b>Current Year: {{ year }}</b>
<hr>

Group goals, place a blurb here
<br><br>
<form action="/grouppdp/{{ group_url }}" method='POST'>
<table class="grouptable">
    <tr>
        <th class="th_odd"> Group Goal </th>
        <th class="th_even"> Description </th>
        <th class="th_odd"> Owners </th>
        <th class="th_even"> Deadline </th>
        <th class="th_odd"> Budget </th>
        <th class="th_even"> Training? </th>
    </tr>
    
{% for goal in groupPDPs -%}
    <tr>
        <input type='hidden' name='zid[]' value='{{ goal.zid }}'>
        <td><input type='text' name='group_goal[]' size='25' value='{{ goal.goalTitle }}'></td>
        <td><textarea name='group_description[]' rows='4' cols='30'>{{ goal.description }}</textarea></td>
        <td>
        {# <input type='text' name='group_owners[]' size='10' value='{{ goal.owners }}'> #}
        <select multiple name='group_owners[{{ goal.zid }}]'>
        <option value='0'>None</option>
        {% for member in gMembers -%}
        <option value='{{ member.uid }}' 
        {%- for num in goal.owners -%}
        {# {% if member.uid == num %} selected {%- endif -%} #}
        {% if member.uid|string in goal.owners %} selected {% endif %}
        {%- endfor -%}>
        {{- member.userName }}</option>{{ goal.owners }} {{ member.uid }}
        {% endfor -%}
        </select>
        </td>
        <td><input type='text' name='group_deadline[]' size='10' value='{{ goal.deadline }}'></td>
        <td><input type='number' name='group_budget[]' size='10' value='{{ goal.budget }}'></td>
                    
        <td><select name="group_training[]" id="group_training">
            {% for train in training -%}
            <option value='{{ train.tid }}' {% if train.tid == goal.course %} selected {% endif %}>
            {{ train.courseName }}</option>
            {% endfor -%}
            </select>
            <input type='text' name='course_other[]' {% if goal.course == 2 %}
                value='{{ goal.courseOther }}' {% endif %}></td>
    </tr>
{% endfor -%}
    
</table>
<br><br>
<input type='submit' name="add_group_row" value="Add Row">
<input type='submit' name="save_group_data" value="Save Data">
</form>
<br>
<br>
<h2> Sign-off</h2>
<form action='/grouppdp_signoff' method='POST'>
<input type='hidden' name="group_url" value='{{ group_url }}'>
<input type='hidden' name="s_year" value='{{ year }}'>
<input type='hidden' name="s_cycle" value='{{ cycle }}'>
<label>Sign-off<input type=checkbox name="manager-sign"></label>
<label>Comments<textarea name="comments" rows='4' cols='20'></textarea></label><br><br>
<input type='submit' value="Apply New Goals">
</form>
{% endblock %}
