{% extends "layout.html" %}

{% block greeting %}
{{ sideDB.firstName }}
{% endblock %}

{% block content %}
<div class='error'>
{{ error }}
</div>
<h1> PDP - Home</h1>
<hr>
<h2> Personal PDP </h2>
<ul>
<li><a href="personalpdp/{{ sideDB.userName }}">Edit Personal PDP: {{ sideDB.userName }} </a></li>
</ul>
<br><br>


{% if sideDB.isManager %}
{% if groupDB %}
<h2>Group PDP</h2>        
<ul>
{% for value in groupDB %}
<li><a href='/grouppdp/{{ value.urlName }}'> {{ value.groupName }} </a></li>
{% endfor %}
</ul>   
{% endif %}
{# {% endif %} #}
<br><br>
<h2>Team Member PDPs</h2>
<ul>
{% for list in groupList %}
<li><a href='personalpdp/{{ list.userName }}'>{{ list.firstName }} {{ list.lastName }} </a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
