<!DOCTYPE HTML>
<html lang='en'>
<head>

    {% block head %}
    <title>Pea</title>  
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script type='text/javascript' src='/js/jquery.min.js' ></script>
</head>

<body>
    <div class='header'>
        <p class='vertical'><h1><big><big>Peedy-Pee </big></big></h1></p>
    </div>
    <div class='sidebar'>
        {% block sidebar %}
        {#
        {% if sideDB %}
        #}
        {% if selectDB %}
        
        <p><b>Name: </b> {{ selectDB.firstName }} {{ selectDB.lastName }} </p>
        <p><b>Title: </b> {{ selectDB.position }} </p>
        <p><b>Group: </b> {{ selectDB.groupName }} </p>
        <p><b>Manager: </b> {{ selectDB.manager }} </p>
        <hr>
        
        {% elif sideDB %}
        
        <p><b>Name: </b> {{ sideDB.firstName }} {{ sideDB.lastName }} </p>
        <p><b>Title: </b> {{ sideDB.position }} </p>
        <p><b>Group: </b> {{ sideDB.groupName }} </p>
        <p><b>Manager: </b> {{ sideDB.manager }} </p>
        <hr>
        
        {% else %}
        
        {% endif %}
        
        <a href="/"> Home </a><br>
        <br>
        {% if sideDB %}
        <a href="/personalpdp/{{ sideDB.userName }}">Edit Your PDP</a><br>
        <br>
        <br>
        
        {% if sideDB.isManager %}
        {% if groupDB %}
        
        Edit Your Groups<br>
        {% for value in groupDB %}
        -  <a href='/grouppdp/{{ value.urlName }}'> {{ value.groupName }} </a><br>
        {% endfor %}
        
        {% endif %}
        {% endif %}
        <br>
        <br>
        {% if sideDB.isAdmin %}
        <a href="/admin">Admin</a>
        {% endif %}
        <br>
        <br>
        <a href='/logout'>Logout</a><br>
        {% endif %}
        {# {% endif %} #}
        {% endblock %}
    </div>
    <div class='content'>
        {% block content %}

        {% endblock %}
    </div>
    <div class='footer'>
        {% block footer %}
        Created by <a href="http://wiki.synchrotron.org.au/index.php/SpecOps">SpecOps</a> 
        2014 pdp.synchrotron.org.au <a href='/changelog'>Changelog</a>
        {% endblock %}
    </div>
</body>
</html>
