{% extends "login_layout.html" %}

{% block login_content %}
    
    <div class='middle'>
    {% if error %}
    <div class='error'>{{ error[0] }}
    <br>
    [<a href='{{ error[1] }}'>OK</a>]
    </div>
    {% endif %}
    <div class='inner'>
    <form action='/dologin' method='POST' >
        <label>Username: <input type='text' name='username'></label><br>
        <label>Password: <input type='password' name='password'></label><br>
        <input type='submit' value='Login'>
    </form>
    </div>
    </div>
{% endblock %}
