{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}


{% block content %}

<div class='error'>
{{ error }}
</div>

<h2>Personal PDP Admin</h2>
<form action='/personalpdp_initialise' method='POST'>
<fieldset class='new-goals'>
<legend><b>Initialise New Goals</b></legend>
{# //TODO: poulate year field with available years in a dropdown #}
<label>Start Year:  <input type="text" name='init_goals' size='10' title='The year at the start of the pdp cycle'></label>
<input type='hidden' name='user_name' value='{{ selectDB.userName }}'>
<input type='submit' value='Create'>
</fieldset>
</form>
<br><br>
<div class='clearfix'></div>
<br><br>

{# <h1>Personal PDP for {{ sideDB.firstName }}</h1>
<h2>{{ position }}</h2>
<hr> #}
<h2>Group Goals for {{ selectDB.groupName }}</h2>
<table class="grouptable">
    <tr>
        <th class="th_odd"> Group Goal </th>
        <th class="th_even"> Description </th>
        <th class="th_odd"> Owners </th>
        <th class="th_even"> Deadline </th>
        <th class="th_odd"> Budget </th>
        <th class="th_even"> Training? </th>
    </tr>
    
    {% for goal in gpdps -%}
    <tr>
        <td>{{ goal.goalTitle }}</td>
        <td>{{ goal.description }}</td>
        <td>{{ goal.owners }}</td>
        <td>{{ goal.deadline }}</td>
        <td>${{ goal.budget }}</td>
        <td>{% if goal.course == 2 %}
            {{ goal.courseOther }}
            {% else %}
            {{ goal.course }}
            {% endif %}</td>
    </tr>
    {% endfor -%}
</table>
<br>
<br>
<h2>Personal PDP Goals</h2>
<form action='/personalpdp/{{user}}' method="POST">
<table class="personaltable">
    <tr>
        <th class="th_odd">Personal Goal</th>
        <th class="th_even">Aligned with Group Goals</th>
        <th class="th_odd">Reasons and Justifications</th>
        <th class="th_even">Deadline</th>
        <th class="th_odd">Budget</th>
        <th class="th_even">Training?</th>
    </tr>
    
    {% for result in person_pdp %}
    <tr>
        <td><textarea name='person_goals[]' rows='4' cols='30'>{{ result.goal }}</textarea></td>
        <td><label><input type='radio' name='person_aligns[]' value='true' >Yes</label><br>
            <label><input type='radio' name='person_aligns[]' value='false' >No</label></td>
        <td><textarea name='person_reason[]' rows='4' cols='30'>{{ result.reason }}</textarea></td>
        <td><input type='text' name='person_deadline[]' size='10' value='{{ result.deadline }}'></td>
        <td><input type='number' name='person_budget[]' size='10' value='{{ result.budget }}'></td> 
        <td><select name="person_training[]" id="person_training"> 
            {% for train in training -%}
            <option value='{{ train.tid }}' {% if train.tid == result.course %} selected {% endif %} >{{ train.courseName }}</option>
            {% endfor -%}
            </select> 
            <input type='text' name='course_other[]' {% if result.course == 2 %} value='{{ result.courseOther }}' {% endif %}></td>
    </tr> 
    {% endfor %}
    
    
</table>
<br>
<br>
<input type="submit" name="add_pdp_row" value="Add Row">
<input type="submit" name="save_pdp_data" value="Save PDP Data">
</form>

<h2>Values</h2>
<form action='/personalpdp/{{ user }}' method='POST'>
<table class='valuestable'>
    <tr>       
        <th class='th_top' colspan='3'>Values</th>
    </tr>
    <tr>
        <th class='th_even'>Value</th>
        <th class='th_odd'>Grade</th>
        <th class='th_even'>Comment</th>
    </tr>
    {% for value in values %}
    <tr>
        <td>{{ value.value }}</td>
        <td><select>
        {% for opt in val_opts -%}
        <option value='{{ opt.vid }}'>{{ opt.option }}</option>
        {% endfor -%}
        </select></td>
        <td><textarea cols='60' rows='2'></textarea>
    </tr>
    {% endfor %}
</table>
<br>
<input type='submit' value='Save Values Data'>
</form>
<h2>Compliance</h2>
<form action='' method='POST'>
<table class='compliancetable'>
    <tr>
        <th class='th_top' colspan='3'>Compliance</th>
    </tr>
    <tr>
        <th class='th_odd'>Area</th>
        <th class='th_even'>Grade</th>
        <th class='th_odd'>Comment</th>
    </tr>
    {% for comply in compliance %}
    <tr>
        <td>{{ comply.area }}</td>
        <td><select>
        {% for opt in comp_opts -%}
        <option value='{{ opt.oid }}'>{{ opt.option }}</option>
        {% endfor -%}
        </select></td>
        <td><textarea cols='30' rows='2'></textarea>
    </tr>
    {% endfor %}
</table>
<br>
<input type='submit' value='Save Compliance Data'>
</form>
<br>
<br>
<h2> Sign-off</h2>
<label>Manager Sign-off<input type=checkbox name="manager-sign"></label>
<br />
<label>Employee Sign-off<input type=checkbox name="employee-sign"></label>
<br />
<label>Emplyee Comments<textarea rows='4' cols='20'></textarea></label>
{% endblock %}
