{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}


{% block content %}

<h1>Personal PDP for {{ name }}</h1>
<h2>{{ position }}</h2>
<hr>
<h2>Group Goals for {{ group }}</h2>
<table class="grouptable">
    <tr>
        <th class="th_odd"> Responsibility </th>
        <th class="th_even"> Area </th>
        <th class="th_odd"> Description </th>
        <th class="th_even"> Timing </th>
        <th class="th_odd"> Budget </th>
        <th class="th_even"> Training? </th>
    </tr>
    <tr>
        
        
    
    </tr>
</table>
<br>
<br>
<h2>Personal PDP Goals</h2>
<form action='/personalpdp/{{user}}' method="POST">
<table class="personaltable">
    <tr>
        <th class="th_odd">Personal Goal</th>
        <th class="th_even">Aligned with Group Goals</th>
        <th class="th_odd">Reasons and Justifications</th>
        <th class="th_even">Deadline</th>
        <th class="th_odd">Budget</th>
        <th class="th_even">Training?</th>
    </tr>
    <tr>
        <td><textarea name='goals' rows='4' cols='40'>pdp goal</textarea></td>
        <td><label><input type='radio' name='aligns' value='true' checked='...'>Yes</label><br>
            <label><input type='radio' name='aligns' value='false' checked='...'>No</label></td>
        <td><textarea name='reason' rows='4' cols='20'>pdp reason</textarea></td>
        <td><input type='text' name='deadline' size='10' value=''></td>
        <td><input type='number' name='budget' size='10' value=''></td>
        <td><label><input type='radio' name='training' value='true' checked='...'>Yes</label>
            <label><input type='radio' name='training' value='false' checked='...'>No</label>
            <input type='text' name='course_other'></td>
    </tr>
</table>
<br>
<br>
<input type="submit" value="Add Row">
<input type="submit" value="Save PDP Data">
</form>

<h2>Values</h2>
<form action='/personalpdp/{{ user }}' method='POST'>
<table class='valuestable'>
    <tr>       
        <th class='th_top' colspan='3'>Values</th>
    </tr>
    <tr>
        <th class='th_even'>Value</th>
        <th class='th_odd'>Grade</th>
        <th class='th_even'>Comment</th>
    </tr>
</table>
<br>
<input type='submit' value='Save Values Data'>
</form>
<h2>Compliance</h2>
<form action='' method='POST'>
<table class='compliancetable'>
    <tr>
        <th class='th_top' colspan='3'>Compliance</th>
    </tr>
    <tr>
        <th class='th_odd'>Area</th>
        <th class='th_even'>Grade</th>
        <th class='th_odd'>Comment</th>
    </tr>
</table>
<br>
<input type='submit' value='Save Compliance Data'>
</form>
<br>
<br>
<h2> Sign-off</h2>
<label>Manager Sign-off<input type=checkbox name="manager-sign"></label>
<br />
<label>Employee Sign-off<input type=checkbox name="employee-sign"></label>
<br />
<label>Emplyee Comments<textarea rows='4' cols='20'></textarea></label>
{% endblock %}
