{% extends "layout.html" %}

{% block greeting %}
{{ name }}
{% endblock %}


{% block content %}

{% if error[0] %}
<div class='error'>
{{ error[0] }} 
<br>
[<a href='{{ error[1] }}#{{ error[2] }}'>OK</a>]
</div>
{% endif %}

<a name='top'></a>
<h2>Personal PDP Admin</h2>
<form action='/personalpdp_initialise' method='POST'>
<fieldset class='new-goals'>
<legend><b>Initialise Goals for New Cycle</b></legend>
<label>Year: 
<select name='init_goals' id='select_box' title='The year at the start of the pdp cycle'>
{% for year in aInitYear %}<option value='{{ year.year }}'>  {{ year.year }} - {{ year.year + 1 }}  </option>{% endfor %}
</select> 
</label>
<input type='hidden' name='user_name' value='{{ selectDB.userName }}'>
<input type='submit' value='Create' ><br><br>
To get the new cycle started please select a year and click 'Create'.
</fieldset>
</form>
<form action='/personalpdp_changeyear' method='POST' class='change-year-form'>
<fieldset class='new-goals'>
<legend><b>View Goals for Previous Year</b></legend>
<label>Year: <select name='select_year' id='select_box' title='The year at the start of the pdp cycle'>
{% for year in aViewYear %}<option value='{{ year.year }}'> {{ year.year }} - {{ year.year + 1 }} </option>{% endfor %}
</select></label>
<input type='hidden' name='user_name' value='{{ selectDB.userName }}'>
<input type='submit' value='Select'><br><br>
To view a previously completed year please select a year and click 'Select'.
</fieldset>
</form>
<div class='clearfix'></div>
<br>
<b>Current Cycle: {{ selectDB.cycle }}</b>
{% if selectDB.cycle == 0 %}(waiting for group goals to be set){% endif %}
{% if selectDB.cycle == 1 %}(Setting personal goals){% endif %}
{% if selectDB.cycle == 2 %}(Review and confirm personal goals){% endif %}
{% if selectDB.cycle == 3 %}(End of cycle assessment){% endif %}
<br><br>
<b>Current Year: {{ selectDB.year }}</b>
<br><br>
<hr>

{# <h1>Personal PDP for {{ sideDB.firstName }}</h1>
<h2>{{ position }}</h2>
<hr> #}
<a name='group_goals'></a>
<h2>Group Goals for {{ gName }}</h2>
<table class="grouptable">
    <tr>
        <th class="th_odd"> Group Goal </th>
        <th class="th_even"> Description </th>
        <th class="th_odd"> Owners </th>
        <th class="th_even"> Deadline </th>
        <th class="th_odd"> Budget </th>
        <th class="th_even"> Training? </th>
    </tr>
    
    {% for goal in gpdps -%}
    <tr>
        <td>{{ goal.goalTitle }}</td>
        <td>{{ goal.description }}</td>
        <td>
        {% set oList = ownersList[loop.index0] %}
        {% for owner in oList %}
        {{ owner }}
        {% endfor %}
        </td>
        <td>{{ goal.deadline }}</td>
        <td>${{ goal.budget }}</td>
        <td>{{ gTrainName[loop.index0] }}
            
            {# {% if goal.course == 2 %}
            {{ goal.courseOther }}
            {% else %}
            {{ goal.course }}
            {% endif %} #}</td>
    </tr>
    {% endfor -%}
</table>
{% if not (gpdps) %}
<br>
** Waiting for Group Goals to be set by your Manager for the current year... 
{% endif %}
<br>
<br>
<a name='person_goals'></a>
<h2>Personal PDP Goals</h2>
<form action='/personalpdp/{{user}}' method="POST">
<table class="personaltable">
    <tr>
        <th class="th_odd">Personal Goal</th>
        <th class="th_even">Aligned with Group Goals</th>
        <th class="th_odd">Reasons and Justifications</th>
        <th class="th_even">Deadline</th>
        <th class="th_odd">Budget</th>
        <th class="th_even">Training?</th>
        {% if selectDB.cycle == 3 %}
        <th class="th_odd">Comments</th>
        {% endif %}
    </tr>
    
    {% for result in person_pdp %}
    <tr>
        <input type='hidden' name='pid[]' value='{{ result.pid }}'>
        <td><textarea name='person_goals[]' rows='4' cols='30'>{{ result.goal }}</textarea></td>
        <td><label><input type='radio' name='person_aligns[{{ result.pid }}]' value='true' 
            {% if result.align %}checked{% endif %}>Yes</label><br>
            <label><input type='radio' name='person_aligns[{{ result.pid }}]' value='false' 
            {% if not result.align %}checked{% endif %}>No</label></td>
        <td><textarea name='person_reason[]' rows='4' cols='30'>{{ result.reason }}</textarea></td>
        <td><input type='text' name='person_deadline[]' size='10' value='{{ result.deadline }}'></td>
        <td>$ <input type='text' name='person_budget[]' size='10' value='{{ result.budget }}'></td> 
        <td><select name="person_training[]" id="person_training"> 
            {% for train in training -%}
            <option value='{{ train.tid }}' {% if train.tid == result.course %} selected {% endif %} >{{ train.courseName }}</option>
            {% endfor -%}
            </select> 
            <input type='text' name='course_other[]' {% if result.course == 2 %} value='{{ result.courseOther }}' {% endif %}></td>
        {% if selectDB.cycle == 3 %}
        <td><textarea name='manager_comments[]' rows='4' cols='30'>{%- if result.comments -%}{{- result.comments -}}{%- else -%} {%- endif -%}</textarea></td>
        {% endif %}
    </tr> 
    {% endfor %}
    
    
</table>
{% if not (person_pdp) %}
<br>
** Please initialise your goals for the current year... This can be done using the Initialise New Goals button above...
{% endif %}
<br>
<br>
{% if (person_pdp) %}
<input type="submit" name="add_pdp_row" value="Add Row">
<input type="submit" name="save_pdp_data" value="Save PDP Data">
{% endif %}
</form>

<a name='values'></a>
<h2>Values</h2>
<form action='/personalpdp/{{ selectDB.userName }}' method='POST'>

<table class='valuestable'>
    <tr>       
        <th class='th_top' colspan='3'>Values</th>
    </tr>
    <tr>
        <th class='th_even'>Value</th>
        <th class='th_odd'>Grade</th>
        <th class='th_even'>Comment</th>
    </tr>
    {% for value in values %}
    <tr>
        <input type='hidden' name="value_id[]" value='{{ value.vid }}'>
        <td>{{ value.value }}</td>
        <td><select name='value_grade[]'>
        {% if valuesDB %}
        {% set opt_id = valuesDB[ loop.index0 ].grade %}
        {% else %}
        {% set opt_id = 0 %}
        {% endif %}
        {% for opt in val_opts -%}
        <option value='{{ opt.oid }}' {% if opt.oid == opt_id %}selected{% endif %}>{{ opt.option }}</option>
        {% endfor -%}
        </select></td>
        <td><textarea cols='60' rows='2' name='value_comments[]'>{% if valuesDB %}{{ valuesDB[ loop.index0 ].comment }}{% endif %}</textarea>
    </tr>
    {% endfor %}
</table>
<br>
{% if (person_pdp) %}
<input type='submit' name='save_values' value='Save Values Data'>
{% endif %}
</form>
<a name='compliance'></a>
<h2>Compliance</h2>
<form action='/personalpdp/{{ selectDB.userName }}' method='POST'>
<table class='compliancetable'>
    <tr>
        <th class='th_top' colspan='3'>Compliance</th>
    </tr>
    <tr>
        <th class='th_odd'>Area</th>
        <th class='th_even'>Grade</th>
        <th class='th_odd'>Comment</th>
    </tr>
    {% for comply in compliance %}
    <tr>
        <input type='hidden' name='comply_id[]' value='{{ comply.cid }}'>
        <td>{{ comply.area }}</td>
        <td><select name='comply_grade[]'>
        {% if complianceDB %}
        {% set opt_id = complianceDB[ loop.index0 ].grade %}
        {% else %}
        {% set opt_id = 0 %}
        {% endif %}
        {% for opt in comp_opts -%}
        <option value='{{ opt.oid }}' {% if opt.oid == opt_id %}selected{% endif %}>{{ opt.option }}</option>
        {% endfor -%}
        </select></td>
        <td><textarea cols='30' rows='2' name='comply_comments[]'>{% if complianceDB %}{{ complianceDB[ loop.index0 ].comment }}{% endif %}</textarea>
    </tr>
    {% endfor %}
</table>
<br>
{% if (person_pdp) %}
<input type='submit' name='save_compliance' value='Save Compliance Data'>
{% endif %}
</form>
<br>
<br>
<a name='bottom'></a>
<h2> Sign-off</h2>
<form action='/personalpdp_signoff/{{ selectDB.userName }}' method='POST'>
<input type='hidden' name='p_cycle' value='{{ selectDB.cycle }}'>
<input type='hidden' name='p_year' value='{{ selectDB.year }}'>
<label>Manager Sign-off<input type='checkbox' name='manager-sign'></label>
<br />
<label>Employee Sign-off<input type='checkbox' name='employee-sign'></label>
<br />
<label>Emplyee Comments<textarea name='employee-comment' rows='4' cols='20'></textarea></label>
<br>
<input type='submit' name='complete_cycle' value='Sign-off Cycle {{ selectDB.cycle }}'>
</form>

<div><a href="#" class='totop'> Scroll </a></div>
{% endblock %}
