html {
  height: 100%;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
  background: url(/images/diffraction-background-repeating.jpg) repeat-x #a2cfef;
  height: 100%;
}

a {
  color: #0088CC;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;
  clear:both;
  overflow: hidden; 
}

.clearfix {
  display: inline-block;
}

.error {
  color: red;
  padding: 10px 10px 10px 10px; /* top right bottom left */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  height: 70px;
  margin-top: -35px;
  background: yellow;
  border: 2px solid red;
  border-radius: 25px;
}

.login {
  width: 100%;
  height: 500px;
  /* background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;*/
  display: table;
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 70px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #A1A1A1;
}

h1 {
  padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

td {
  border: 1px solid black;
}

input[type='radio'], label {
  horizontal-align:left;
  vertical-align:baseline;
}

.header {
  background: transparent url(/images/australian_synchrotron_logo.png) right top no-repeat;
  height: 100px; 
  text-align: center;
  color: white;
}

.footer {
  background-colour: #9900FF;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
}

.login_footer {
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*position: absolute;*/
  clear: both;
}

.wrapper {
  position: relative;
}

.sidebar {
  float:left;
  left: 0;
  top:0;
  width: 200px;
  height: 600px;
  padding-left: 10px;
  background-color: #C8C8C8;
}

.content {
  top: 0;
  margin-left:210px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.login {
  text-align: center;
}

.compliancetable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
}

.valuestable {
  border: 1px solid black;
  border-collapse: collapse;
  width:80%;
}

.grouptable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.personaltable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.th_odd {
  /*background-color: LimeGreen;*/
  background-color: #a2cfef;
}

.th_even {
  /*background-color: LightGreen;*/
  background-color: #4197e2;
}

.th_top {
  /*background-color: Green;
  border: 1px solid LightGreen;*/
  background-color: #66C2E0;
  /*background-color: #3366CC;*/
}

.right {
  float:right;
  clear:both;
}

.new-goals{
  float:left;
  width:300px;
}

.select-year{
  float:left;
  width:300px;
}

#person_div {
  height: 200px;
  width: 900px;
}

#group_div {
  height: 200px;
  width: 900px;
}

#group_training {
  width: 200px;
}

#person_training {
  width: 200px;
}

#group_training option {
  width: 250px;
}

#people_list {
  width:200px;
  float:left;
}

#view_person {
  position:relative;
  left:18px
}

#edit_person {
}

#group_list {
  width: 200px;
  float: left;
}

#group_ul {
  width: 300px;
  float: left;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#edit_group {
  
}

#person_attributes {
  width:300px;
  float: left;
}

#person_select {
  width: 200px;
  float: left;
}

#select_group {
  width: 185px;
}

#select_manager {
  width: 185px;
}

#ldap_populate {
  width: 300px;
  float: left;
}

#group_select {
  width: 200px;
  float: left;
}

#group_attributes {
  width: 300px;
  float: left;
  height: 200px;
}

#person_attributes>label {
  float:right;
}

#group_attributes>label {
  float: right;
}

#ldap_populate>label {
  float: right;
}

